.icons {
    font-size: 40px;
    /* margin-left: 30px; */
}
.icons a {
    text-decoration: none;
    color: #000;
  }

h1 {
    /* font-family: Lato, sans-serif; */
    font-size: 45px;
    margin-top: .3em;
    margin-bottom: .3em;
}
h2 {
    font-size: 33px;
}
#name {
    /* margin-left: 30px; */
}
body {
    font-family: garamond;
}
#pub {
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

#pres {
    text-decoration: none;
    color: #000;
}




.bio {
    margin-top: 40px;
    /* display: flex; */
    /* flex-direction: column; */
}
.bio > p {
    font-size: 20px;
}

/* .top {
    position: fixed;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
} */

#pic {
    border-radius: 50%;
    margin-right:100px;
    float: right;
    height: 230;
    height: 150px;
}

body {
    background-color: #fffcf7;
    
}


.experience-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .experience-item {
    display: flex;
    flex-direction: column;
    background-color: #fff8f8;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .experience-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
  }
  
  .experience-dates {
    font-size: 0.9rem;
    color: #888;
    margin-top: 5px;
  }
  
  .experience-details {
    margin-top: 10px;
    font-size: 0.95rem;
    line-height: 1.5;
  }

  .experience-images {
    display: flex;
    justify-content: space-around;
    
    align-items: center;
    flex-direction: row;
  }

  .experience-logo {
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-radius: 5%;
  }
  
  .custom-link {
    text-decoration: none;
    color: black;
  }
  
  .custom-link:visited {
    color: black;
  }
  
  .custom-link:hover {
    color: blue;
  }

  .projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .project-item {
    width: calc(50% - 50px);
    aspect-ratio: 7 / 5;
    background-color: #f2fbf7;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .pub-item {
    width: auto;
    aspect-ratio: 7 / 5;
    background-color: #f3f6fc;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .project-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
  }
  
  .project-content {
    padding: 15px;
    text-align: center;
  }
  
  .project-content h3 {
    margin: 0;
  }
  
  .project-links {
    display: flex;
    gap: 15px;
    justify-content: center;
  }

@media (min-width: 960px) {
    body {
        margin: 4rem 25% 4rem 25%;
    }
}

@media (max-width: 960px) {
    body {
        margin: 0% 5% 0% 5%;
    }
    .project-item {
        width: 100%;
      }
}
